*{
            font-family: "Poppins", sans-serif;
        }

        .star-rating label:hover,
        .star-rating label:hover~label {
            color: #ffcc00;
        }

        .star-rating input:checked~label {
            color: #ffcc00;
        }